<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @space.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user %>
</p>

<p>
  <strong>Street:</strong>
  <%= @space.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @space.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @space.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @space.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @space.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @space.longitude %>
</p>

<p>
  <strong>Bond:</strong>
  <%= @space.bond %>
</p>

<p>
  <strong>Price day:</strong>
  <%= @space.price_day %>
</p>

<p>
  <strong>Price week:</strong>
  <%= @space.price_week %>
</p>

<p>
  <strong>Price month:</strong>
  <%= @space.price_month %>
</p>

<p>
  <strong>Available start time:</strong>
  <%= @space.available_start_time %>
</p>

<p>
  <strong>Available end time:</strong>
  <%= @space.available_end_time %>
</p>

<p>
  <strong>Available monday:</strong>
  <%= @space.available_monday %>
</p>

<p>
  <strong>Available tuesday:</strong>
  <%= @space.available_tuesday %>
</p>

<p>
  <strong>Available wednesday:</strong>
  <%= @space.available_wednesday %>
</p>

<p>
  <strong>Available thursday:</strong>
  <%= @space.available_thursday %>
</p>

<p>
  <strong>Available friday:</strong>
  <%= @space.available_friday %>
</p>

<p>
  <strong>Available saturday:</strong>
  <%= @space.available_saturday %>
</p>

<p>
  <strong>Available sunday:</strong>
  <%= @space.available_sunday %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
