<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @space.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @space.description %>
</p>

<p>
  <strong>Street:</strong>
  <%= @space.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @space.suburb %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @space.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @space.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @space.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @space.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @space.longitude %>
</p>

<p>
  <strong>Bond:</strong>
  <%= @space.price_bond %>
</p>

<p>
  <strong>Price day:</strong>
  <%= @space.price_day %>
</p>

<p>
  <strong>Price week:</strong>
  <%= @space.price_week %>
</p>

<p>
  <strong>Price month:</strong>
  <%= @space.price_month %>
</p>

<p>
  <strong>Available Start time:</strong>
  <%= @space.available_start_time %>
</p>

<p>
  <strong>Available End time:</strong>
  <%= @space.available_end_time %>
</p>

<p>
  <strong>Available Days:</strong>
  <%= @space.available_days %>
</p>


<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
