<div class="panel panel-default">
  <div class="panel-body">

<!-- ######################### Main Info ######################### -->

    <div class="row">
      <div class="col-md-6">
        <h4><%= @space.title %></h4>

        <p>
        <%= @space.full_street_address %>
        </p>

        <p>
          <strong>Space Type:</strong>
          <%= @space.space_type %>
        </p>

        <p>
          <strong>Access:</strong>
          <%= @space.type_of_access %>
        </p>

        <p>
          <strong>Max. Height:</strong>
          <%= @space.maximum_entrance_height %>
        </p>

        <p>
          <strong>Max. Vehicle:</strong>
          <%= @space.largest_vehicle %>
        </p>

      </div>

<!-- ######################### Booking Form ######################### -->
      <div class="col-md-6">
        <%= render 'bookings/form' %>
      </div>
    </div>

    <br>

<!-- ######################### Google Map ######################### -->

    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>
          <script>
             function initMap() {
               var myLatLng = {lat: <%= @space.latitude %>, lng: <%= @space.longitude %>};

               var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15,
                 center: myLatLng
               });

               var marker = new google.maps.Marker({
                 position: myLatLng,
                 map: map,
                 title: '<%= @space.title %>'
               });
             }
          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAPcmuqClKtHjH2PreV0TrpttzN8kmjtE&callback=initMap"async defer></script>

      </div>
    </div>

    <br>

<!-- ######################### Image ######################### -->
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Photos:</strong>
          <% @space.photos.each do |photo| %>
            <%= image_tag(photo) %>
          <% end %>
        </p>
      </div>
    </div>

    <br>

<!-- ######################### Description ######################### -->

    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Description:</strong>
          <%= @space.description %>
        </p>
      </div>
    </div>

    <br>

    <%= link_to 'Edit', edit_space_path(@space) %> |
    <%= link_to 'Back', spaces_path %>

<!-- ######################### Nearby Spaces ######################### -->

    <h3>Spaces Nearby</h3>

    <div class="row">

      <% for space in @space.nearbys(10) %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag space.photos[0] %>
            </div>
            <div class="panel-body">
              <%= link_to space.title, space %><br>
              (<%= space.distance.round(2) %> miles away)
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <br>

  </div>
</div>
