
<!--- ######################### Nav Bar ######################### --->

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

<!--- ######################### Logo ######################### --->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Parkhound</a>
    </div>

<!--- ######################### Nav Bar Collapsable ######################### --->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<!--- ######################### Search Bar ######################### --->

      <form class="navbar-form navbar-left">
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Where do you need parking?">
        </div> -->
        <%= link_to 'Search for Parking Spaces', search_path, class: "btn btn-primary" %>
      </form>

<!--- ######################### Links - Help ######################### --->

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">How it works >>  </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Visit Help Centre >></a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Common FAQ's</li>
            <li><a href="#">How do I get paid for a booking?</a></li>
            <li><a href="#">When do I get</a></li>
            <li><a href="#">What happens if I'm late for my booking?</a></li>
            <li><a href="#">How do I pay for my booking?</a></li>
            <li><a href="#">How am I informed of a booking?</a></li>
          </ul>
        </li>

<!--- ######################### Links - Lease My Space ######################### --->

        <li><%= link_to('Lease My Space', new_space_path) %></li>

<!--- ######################### Links - User ######################### --->

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.avatar.url, class: "img-circle avatar-small" if current_user.avatar_url%>&#160;&#160;&#160;
              <%= current_user.first_name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Dashboard</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Bookings', bookings_path) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Listings', spaces_path) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Profile', edit_user_registration_path) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Inbox', conversations_path) %></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Vehicles</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Billing</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

<!--- ######################### Nav Bar End ######################### --->
