<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Bookings", bookings_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Your Listings", spaces_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Profile", edit_user_registration_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Inbox", conversations_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Bookings
			</div>
			<div class="panel-body">

				<% @bookings.each do |booking| %>
					<div class="row">

						<div class="col-md-2">
							<h4>Booked: </h4><%= booking.created_at.strftime('%v') %>
							<hr>
							<h4>Start: </h4><%= booking.start_date.strftime('%v') %>
							<h4>End: </h4><%= booking.end_date.strftime('%v') %>
						</div>

						<div class="col-md-2 col-md-offset-1">
							<%= link_to space_path(booking.space) do %>
								<%= image_tag booking.space.photos[0].url, class: "img-responsive" %>
								<hr>
								<%= booking.space.title %>
							<% end %>
						</div>

						<div class="col-md-2 col-md-offset-1">
							<%= link_to user_path(booking.space.user) do %>
								<%= image_tag booking.space.user.avatar_url, class: "img-circle avatar-medium" %>
								<hr>
								<%= booking.space.user.first_name %> <%= booking.space.user.last_name %>
							<% end %>
						</div>

						<div class="col-md-2">
							<h4>Total $<%= booking.total %></h4>
						</div>

						<div class="col-md-2">
							<% if booking.confirmation %>
								<span class="btn btn-primary">Confirmed</span>
							<% else %>
								<%= link_to 'Pay Now', new_charge_path(booking_id: booking.id), class: "btn btn-primary" %>
								<hr>
								<%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
							<% end %>
						</div>

					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>
