<div class="row">
	<div class="col-md-3">
		<div class="center">
			<%= image_tag @user.avatar_url, class: "avatar-full" if @user.avatar_url %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Verification</div>
			<div class="panel-body">
				Email Address<br>
				Phone Number
			</div>
		</div>
	</div>

	<div class="col-md-9">

		<h2><%= @user.first_name %> <%= @user.last_name %></h2>

		<%= button_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id) %>

		<div class="description row-space-3">
			<%#= @user.description %>
		</div>

		<h4>Listings (<%= @spaces.length %>)</h4><br>

		<div class="row">

			<% @spaces.each do |space| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag space.photos[0] %>
						</div>
						<div class="panel-body">
							<%= link_to space.title, space %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
